/* src/components/Home.css */
.home-content {
    padding: 4rem 2rem;
    text-align: center;
  }
  
  .home-content h2 {
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .home-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .home-content button {
    margin: 0 1rem;
  }